.rating {
  display: flex;
  gap: 2px;
}

.starFilled {
  color: #fbbf24; /* Amber-400 */
}

.starEmpty {
  color: #d1d5db; /* Gray-300 */
}

.sm {
  font-size: 16px;
}

.md {
  font-size: 20px;
}

.lg {
  font-size: 24px;
}
