PORT=5000
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/jobflow
NODE_ENV=development
CORS_ORIGIN=*
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRY=1d
OPENROUTER_API_KEY=your_openrouter_api_key
